.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#error-message {
  display: none;
  font-family: 'Lato', sans-serif;
  color: red;
  width: 100%;
  border: 3px solid red;
  background: transparent;
  margin: auto;
  padding: 15px;
  margin-bottom: 2em;
}

#tweet-text {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 4px solid black;
  resize: none;
}

.button-counter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  margin-top: 0.5em;
}

.button-counter button {
  background-color: #4056A1;
  border: none;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

@media (min-width: 1024px) {
  .new-tweet {
    width: 100%;
  }
}