div.tweets-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  padding: 0.5em;
  width: 100%;
}

article.tweets-article {
  border: 4px solid #4f473c;
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  word-wrap: break-word;
}

article.tweets-article:hover {
  box-shadow: 5px 10px;
}


header.tweets-container-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
  color: #C0C0C0;
}

div.left-tweets-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #4f473c;
  font-weight: normal;
}


div.tweets-underline {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 4px solid #4f473c;
  resize: none;
  color: #4f473c;
  padding: 5px;
}

footer.tweets-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-size: 20px;
}

div.right-tweets-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: MidnightBlue;
}

#first-tweets-icon:hover {
  color: Gold;
  cursor: pointer;
}

#second-tweets-icon:hover {
  color: Gold;
  cursor: pointer;
}

#third-tweets-icon:hover {
  color: Gold;
  cursor: pointer;
}